*{
    font-family: "Pixelify Sans", sans-serif;
}
body{
    margin: 0;
    background-color: #0D1117;
}audio{
    width: 250px;
    height: 25px;
}
.nav{
    color: orange;
    background-color: #26292F;
    height: 25px;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 25px;
}
.Games{
    max-width: 1200px;
    margin: 0 auto;
}
.image{
    position: relative;
    display: inline-block;
    float: none;
    padding: 20px 22px;
}
.img{
    display: block;
    width: 100%;
}
.imgOverlay{
    position: absolute;
    top: 0;
    left:0;
    width: 525px;
    height: 300px;
    margin: 20px 22px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.imgOverlay > *{
    transform: translateY(25px);
    transition: transform 0.25s;
}
.imgOverlay:hover{
    opacity: 1;
}
.imgOverlay:hover > *{
    transform: translateY(0px);
}
.imgTitle{
    font-size: 2em;
    font-weight: bold;
}
.imgDesc{
    font-size: 1.25em;
    margin-top: 0.25em;
    list-style-type: square;
}
